node_modules
.venv
.vscode
dist
sample
*.log
**/__pycache__/
**/*.pyc
**/*.pyo
**/.DS_Store
.idea
*.iml
*.sublime-project
*.sublime-workspace
*.env
.env.*
*.egg-info
build
*.egg
*.egg-info
*.log
*.bak
*.tmp
*.swp
*.swo
*.swn
*.sublime-*
*.vscode
*.pytest_cache
.coverage
/test_samples/
/.vscode/
